#header{
    background-color: rgb(3, 3, 218) !important;
}
.breadcrumbs, caption, h2{
    background-color: blue !important;
}
a{
    color: lightcyan !important;
}
.model-group, .model-category, .model-user, .model-blog{
    font-size: medium;
    background-color: black !important;
}
#content-main a{
    font-size: medium;
}
#content h1{
    color: white !important;
    font-weight: 600;
}
#changelist-filter{
    background-color: black !important;
}