#header{
    background-color: rgb(3, 3, 218) !important;
}
.breadcrumbs, caption, h2{
    background-color: blue !important;
}
a{
    color: lightcyan !important;
}
/* #content, #content-start{
    background-color: green !important;
} */
.model-group, .model-category, .model-user, .model-blog{
    font-size: medium;
}
#content-main a{
    font-size: medium;
}
#content h1{
    color: white !important;
    font-weight: 600;
}
/* #changelist-form p{
    background-color: orange !important;
} */