@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    background-image: url(32261-priroda_palma_more.jpg);  
    background-repeat: no-repeat;   
    background-position: center center; 
    background-attachment: fixed; 
    -webkit-background-size: cover;  
    -moz-background-size: cover;  
    -o-background-size: cover; 
    background-size: cover;
}
body{
    margin: 0;
    padding: 0;
}
.wrap{
    max-width: 1150px;
    margin: 0 auto;
}
.content .wrap{
    background: rgb(230, 230, 144);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: purple;
    padding: 20px;
    text-decoration: none;
}
.sidebar a{
    color: lightskyblue;
}
h1, h2{
    color: darkblue;
    text-shadow: 1px 1px 1px powderblue, 0 0 1em powderblue, 0 0 0.2em orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color: orange;
}
.header{
    background: lightskyblue;
}
.mainmenu{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    flex-basis: 20%;
    padding-top: 10px;
    padding-left: 0;
}
.last{
    flex-basis: 40%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
}
.sidebar ul{
    width: 260px;
    margin-right: 40px;
    margin-top: 20px;
}
.sidebar a{
    display: block;
    padding: 20px;
    border: 1px solid whitesmoke;
    background: darkblue;
    font-weight: bold;
    font-size: 18px;
}
.sidebar{
    background: rgb(230, 230, 144);
}
.main{
    background: rgb(230, 230, 144);
}
.selected{
    padding: 20px;
    font-size: 18px;
    border: 1px solid whitesmoke;
    font-weight: bold;
    background: lightskyblue;
    color: darkblue;
}
.main li{
    border: 1px solid #4040ea;
    margin-bottom: 40px;
}
.first, .date{
    margin: 0;
    padding: 10px 20px;
    font-size: 18px;
    color: antiquewhite;
    background: darkblue;
}
.image{
    float: left;
    max-width: 60%;
    margin-right: 20px;
}
.photo{
    max-width: 100%;
}
.text{
    padding: 20px 20px 0;
}
.text h2{
    margin-top: 0;
}
.text a{
    padding-left: 0;
    color: darkslateblue;
    text-shadow: 1px 1px 1px darkslateblue, 0 0 1em plum, 0 0 0.2em orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.text a:hover{
    color: orangered;
}
.post h1{
    margin-top: 0;
}
.post{
    font-size: 16px;
}
form{
    color: darkblue;
    font-weight: 600;
    font-size: 20px;
}

/* Slider */
#viewport {
    margin-top: 30px;
    width: 752px;
    height: 564px;
    overflow: hidden;
}
 
.slider {
    position: relative;
    transition: 500ms;
    width: calc(100% * 5);
    height: 564px; 
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
 
.slide {
    width: 100%;
    height: 564px;
}
 
.slide img {
    width: 100%;
    height: 564px;
    object-fit: cover;
    object-position: 0;
}
 
#viewSlider {
    width: calc(30px * 5);
    display: flex;
    justify-content: space-between;
}
 
.viewSlide {
    width: 20px;
    height: 20px;
    background-color: red;
}
.prev{
    padding: 10px 50px;
    border-radius: 6px;
    box-shadow: 0 0 6px 4px #021c1f;
    margin: 10px 100px 10px 130px;
    font-size: 24px;
    cursor: pointer;
    color: antiquewhite;
    background-color: darkblue;
}
.next{
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0 0 6px 4px #021c1f;
    font-size: 24px;
    cursor: pointer;
    color: antiquewhite;
    background-color: darkblue;
}
.window{
    border: 2px solid darkblue;
    padding: 0 20px 20px;
    margin-top: 20px;
    background: rgb(255, 255, 0, 0.4);
}

/* forms */
.form-input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.form-button{
    width: 100%;
    border: 2px solid darkblue;
    background: lightskyblue;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.form-button:hover{
    background: orange;
}
form label{
    font-size: 18px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination .page-num-selected{
    padding: 20px;
    background: lightskyblue;
    color: darkblue;
}
.pagination a{
    padding: 20px;
    background: darkblue;
    display: block;
    color: antiquewhite;
}
.page-num{
    margin: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    box-sizing: border-box;
    font-size: medium;
}

label {
    font-size: 20px;
}

#id_is_published {
    width: 20px;
    height: 20px;
}

#id_cat {
    font-size: 20px;
    padding: 4px;
}

.last a {
    display: inline;
}

.logout h2{
    margin-bottom: 40px;
}

.logout a{
    font-size: 20px;
    color: antiquewhite;
    background: darkgreen;
    font-weight: bold;
    padding: 20px 86px;
}
.audio{
    margin: 0;
    padding: 0;
    flex-basis: 30%;
}
