{% extends 'blog/base.html' %}

{% block content %}

<div class="post">
    <h2>{{ article.title }}</h2>
    {% if article.photo %}
        <img class="image" src="{{ article.photo.url }}" alt="">
    {% endif %}
    {{ article.content|safe }}
    <div id="viewport">
        <div class="slider" style="left: 0">
            <div class="slide"><img src="{{ article.picture1.url }}" alt=""></div>
            <div class="slide"><img src="{{ article.picture2.url }}" alt=""></div>
            <div class="slide"><img src="{{ article.picture3.url }}" alt=""></div>
            <div class="slide"><img src="{{ article.picture4.url }}" alt=""></div>
            <div class="slide"><img src="{{ article.picture5.url }}" alt=""></div>
        </div>
    </div>

    <div id="viewSlider">
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
    </div>

    <button class="prev" id="prev">&larr; Назад</button>
    <button class="next" id="next">Вперёд &rarr;</button>
</div>

{% endblock %}